/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/styles/Signup.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.Signup_container__HZLNC {
    max-width: 500px;
    margin: 0 auto;
    padding: 60px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .Signup_title__4XTt3 {
    text-align: center;
    color: #333;
  }
  
  .Signup_formWrapper__5N2Or {
    display: flex;
    flex-direction: column;
  }
  
  .Signup_formGroup__t_yvB {
    margin-bottom: 15px;
  }
  
  .Signup_label__549Kd {
    display: block;
    font-weight: bold;
  }
  
  .Signup_input__FIjLJ {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .Signup_button__oNa3T {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .Signup_button__oNa3T:hover {
    background-color: #0056b3;
  }
  
  .Signup_message__oVAxz {
    color: #d9534f;
    text-align: center;
    margin-top: 15px;
  }
  
